.NavContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 1rem;
  color: white;
  background-color: black;
  width: 100vw;
  padding: 0.5rem 10%;
  position: fixed;
  top: 0;
  transform: skewX(0deg);
  z-index: 1;

  a {
    color: white;
    margin: 0 0.5rem;
    font-size: 0.83em;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    cursor: pointer;

    &:hover {
      color: var(--action-color);
    }
  }
}
