.container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 90%;

  h5 {
    margin: 0;
  }

  .Projectdiv {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 0.5rem;

    a {
      display: flex;
      justify-content: center;
      font-size: 1rem;
      margin: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        padding-top: 0;
        padding-bottom: 0;
        max-width: 25px;
        max-height: 25px;
        margin-bottom: 0.25rem;
      }
    }
  }
}
